<footer class="fixed bottom-0 left-0 bg-white text-black w-full dark:bg-gray-800 dark:text-gray-200 border-gray-200 dark:border-gray-700 shadow-md border-t-2">
    <div class="container mx-auto py-4 text-center flex flex-row items-center justify-center">
        <p>&copy; {{currentYear}} Your Company Name. All rights reserved.</p>
        <p>Follow us on:
            <a href="https://twitter.com/yourcompany" target="_blank" rel="noopener noreferrer">Twitter</a>,
            <a href="https://facebook.com/yourcompany" target="_blank" rel="noopener noreferrer">Facebook</a>,
            <a href="https://instagram.com/yourcompany" target="_blank" rel="noopener noreferrer">Instagram</a>
        </p>
    </div>
   
</footer>